<div class="container">
    <form action="">
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" class="form-control" [(ngModel)]="alumno.nombre">
        </div>
        <div class="form-group">
            <label for="apellido">Apellido</label>
            <input type="text" name="apellido" class="form-control" [(ngModel)]="alumno.apellido">
        </div>
        <div>
            <label>Promedio: </label>
            <select name="promedio" [(ngModel)]="alumno.promedio">
                <option value="0">0</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </div>
        <button class="btn btn-primary" (click)="agregar()">Agregar</button>
    </form>
    <div class="card" *ngFor="let alum of listaAlumnos">
        <div class="card-body" [ngClass]="{'aprobado': (alum.promedio > 5)}">
            Alumno: {{alum.nombre}} {{alum.apellido}} {{alum.promedio}}
        </div>
    </div>
</div>